# Environment
.env

# Python
venv/
__pycache__/
*.pyc

# Data — kaggle file bahut badi hai
data/postings.csv
data/resume.pdf

# Node
frontend/node_modules/

# Vector DB local files
chroma_db/

# IDE
.vscode/